{% extends "ZPBAdminMediatekBundle:Layouts:master.html.twig" %}
{% block page_small_title %}Upload{% endblock %}
{% set active_mainsidebar = "img_upload" %}
{% set mainSection = "Images" %}
{% block content %}
    <div class="row">
        <div class="column-6">
            {{ form_start(form) }}
            <div class="form__row {% if form.file.vars.errors|length > 0 %}has-errors{% endif %}">
                {{ form_label(form.file, null, {"label_attr":{"class":"form__label"}})}}
                {{ form_widget(form.file, {attr: {class: "form__field"}})}}
                <div class="form__field__errors">
                    {{ form_errors(form.file) }}
                </div>
            </div>

            <div class="form__row {% if form.filename.vars.errors|length > 0 %}has-errors{% endif %}">
                {{ form_label(form.filename, null, {"label_attr":{"class":"form__label"}})}}
                {{ form_widget(form.filename, {attr: {class: "form__field", "placeholder":form.filename.vars.label}})}}
                <div class="form__field__errors">
                    {{ form_errors(form.filename) }}
                </div>
            </div>

            <div class="form__row {% if form.title.vars.errors|length > 0 %}has-errors{% endif %}">
                {{ form_label(form.title, null, {"label_attr":{"class":"form__label"}})}}
                {{ form_widget(form.title, {attr: {class: "form__field", "placeholder":form.title.vars.label}})}}
                <div class="form__field__errors">
                    {{ form_errors(form.title) }}
                </div>
            </div>

            <div class="form__row {% if form.copyright.vars.errors|length > 0 %}has-errors{% endif %}">
                {{ form_label(form.copyright, null, {"label_attr":{"class":"form__label"}})}}
                {{ form_widget(form.copyright, {attr: {class: "form__field", "placeholder":form.copyright.vars.label}})}}
                <div class="form__field__errors">
                    {{ form_errors(form.copyright) }}
                </div>
            </div>

            <div class="form__row">
                {{ form_widget(form.save, {"attr":{class:"flat-btn btn--default"}})}}
            </div>
            {{ form_end(form)}}
        </div>
        <div class="column-6"></div>
    </div>
{% endblock %}
